{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}">
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block title %}
My Blog
{% endblock %}

{% block content %}


<section id="welcome">
    <header>
        <img src="{% static 'blog/images/max.png' %}" alt="The author">
        <h2>My Blog</h2>
    </header>
    <p>Welcome to my blog. I write about various topics and share my thoughts with you.</p>
</section>

<section id="latest-posts">
    <h2>My latest thoughts</h2>

    <ul>
        {% for post in posts %}
        {% include "blog/includes/post.html" %}
        {% endfor %}
    </ul>
</section>

<section id="about">
    <h2>What I do?</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit iusto alias rerum excepturi totam eius ipsa vel
        ut ex quos, a esse, voluptates magnam laudantium mollitia vero fugiat minus molestiae.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, a?</p>
</section>

{% endblock %}